
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/home_page">
		<img class="rounded-circle" src="../resources/img/eagle.jpg" alt="BIRD" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="/bird_posting">Bird Posting</a>
		  </li>
		  <li class="nav-item">
		  	<a class="nav-link" href="/bird_facts">Bird Facts</a>
		  <li class="nav-item">
		  	<a class="nav-link" href="/bird_feed">Bird Citing</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<a href="/login" class="btn btn-default">Login</a>
		</div>
	  </div>
	</nav>